{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.name %}
            <h1> Привет, {{ current_user.get_short_name() }}</h1>

        {% else %}
            <h1> Привет, {{ current_user.login }}</h1>
        {% endif %}

        <h3>Если при регистрации вы не вводили пароль</h3>
        <h3> Запишите свой auth_key для входа, который находится в вкладке profile</h3>

    {% else %}
        <h1> Добро пожаловать </h1>
    {% endif %}
{% endblock %}
