{% extends "base.html" %}

{% block content %}
    <h3>Авторизация пользователя по логину и паролю</h3>
    <form action="/login" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login(size=32) }}<br>
            {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}<br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <h3> Авторизация по ключу</h3>
        <p>
            {{ form.auth_key.label }}<br>
            {{ form.auth_key(size=32) }}

        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    <p><a href="{{ url_for('register') }}">Регистрация</a></p>
    <p><a href="{{ url_for('passrecovery') }}">Забыли пароль?</a></p>
{% endblock %}
