{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.name %}
            <h2> Профиль, {{ current_user.get_short_name() }}</h2>
            <p>
            Полное ФИО:
            {{ current_user.get_full_name() }} <br>
        </p>
        {% else %}
            <h1> Профиль, {{ current_user.login }}</h1>
        {% endif %}
        <p>
            Логин:
            {{ current_user.login }} <br>
        </p>
        <p>
            Email:
            {{ current_user.email }} <br>
        </p>
        <p>
            Время создания:
            {{ current_user.dateformat(current_user.created_at) }} <br>
        </p>
        <p>
            Последнее обновление профиля:
            {{ current_user.dateformat(current_user.updated_at) }} <br>
        </p>
        <p>
            Фамилия:
            {{ current_user.fname }} <br>
        </p>
        <p>
            Имя:
            {{ current_user.name }} <br>
        </p>
        <p>
            Отчество:
            {{ current_user.lname }} <br>
        </p>
        <p>
            Дата рождения:
            {{ current_user.birth_date }} <br>
        </p>
        <p>
            {% if current_user.birth_date %}
                Возраст:
                {{ current_user.get_age(current_user.birth_date) }} <br>
            {% endif %}
        </p>
        <p>
            Статус профиля:
            {% if not current_user.is_blocked %}
                Активный <br>
            {% else %}
                Заблокирован <br>
            {% endif %}
        </p>
        <p>
            Auth_key:
            {{ current_user.auth_key }} <br>
        </p>
    {% endif %}
    <a href="{{ url_for('update') }}">Изменить профиль</a>
    <a href="{{ url_for('delete') }}">Удалить пользователя</a>
{% endblock %}
