{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login(size=32) }}<br>
            {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </p>
        <p>
            {{ form.fname.label }}<br>
            {{ form.fname(size=32) }}<br>
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
        </p>
        <p>
            {{ form.lname.label }}<br>
            {{ form.lname(size=32) }}<br>
        </p>
        <span class="input-group-addon">Пожалуйста, введите дату рождения:</span><br>
        <div>

                {{ form.b_day.label }}
                {{ form.b_day(size=2) }}

        </div>
        <div>
                {{ form.b_month.label }}
            <select name="comp_select" class="selectpicker form-control">
              {% for number in data %}
              <option value="{{ number }}">{{ data[number] }}</option>
              {% endfor %}
            </select>

        </div>
        <div>
            {{ form.b_year.label }}
            {{ form.b_year(size=4) }}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}